@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #006838, #0D9A49);
}
